@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif !important;
  --scrollbar-thumb-radius: 10px !important;
  --scrollbar-track-color:'red' !important;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  /* color: black !important; */
}